vagrant/.vagrant
vagrant/**/.vagrant
vagrant/local/.vagrant

logs/
*.log
log.txt

*.lock

# Back-end libraries
node_modules

# browserified JS
app/public/js/bundles

# Front-end libraries
bower_components
app/public/js/libs
app/client/js/libs
app/client/styl/libs

# Compiles files
app/public/css
app/public/js