vagrant/.vagrant
vagrant/**/.vagrant
vagrant/local/.vagrant

logs/
*.log

*.lock

node_modules

# libs directory, generated contents with grunt build-js
app/public/js/libs

# browserified JS
app/public/js/bundles