vagrant/.vagrant
vagrant/**/.vagrant
vagrant/local/.vagrant

logs/
*.log
log.txt

*.lock

node_modules

# libs directory, generated contents with grunt build-js
app/public/js/libs

# browserified JS
app/public/js/bundles

# libraries that are copied with grunt copy from node_modules
app/public/js/libs/*.js
app/client/js/libs/*.js
app/client/styl/libs/*.css
