
<div id="todoListAdderContainer">
	<div id="todoListAdderBtn" class="post-it">
		<span>+</span>
	</div>
</div>

<div id="todoListContainer">
	<!-- List items populate here -->
</div>

<script id="todoListItemTemplate" type="text/x-handlebars-template">
	<div class="item-content" contenteditable="true">{{{content}}}</div>

	<div class="item-delete">Delete</div>
</script>