
<div id="adderContainer">
	<div id="adderBtn" class="post-it">
		<span>+</span>
	</div>
</div>

<div id="postItNotesContainer">
	<!-- List items populate here -->
</div>

<script id="postItNoteTemplate" type="text/x-handlebars-template">
	<div class="post-it-note-content" contenteditable="true">{{{content}}}</div>

	<div class="post-it-note-delete">Delete</div>
</script>