<h1>TODO list</h1>

<div id="todoListAdder">
	<form id="todoListAdderForm">
		<input type="text" name="text"/>
		<input type="submit" value="+">
	</form>
</div>

<div id="todoListContainer">
	<!-- List items populate here -->
</div>

<script id="todoListItemTemplate" type="text/template">
	<div class="todo-list-item">
		<div class="todo-list-item--text"></div>
		<div class="todo-list-item--actions">
			<div class="todo-list-item--edit"></div>
			<div class="todo-list-item--remove"></div>
		</div>
	</div>
</script>