<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>TODO List - Mongo, Backbone</title>

	<meta name="description" content="">
	<meta name="author" content="Guillermo de la Puente">

	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

	<!-- <link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.css' rel='stylesheet' /> -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">

	<base href="/">
</head>
<body>
	<%- body %>
	<script src="/js/libs/jquery.min.js"></script>
	<!--<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.js'></script>-->
	<script src="/js/bundles/todo-list-app.js"></script>
</body>
</html>