///////////////////
// Normalization
@require 'libs/normalize.css'

// forcing border box to everything
*, *:after, *:before
	box-sizing border-box

// Mixin for vendors
vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

///////////////////
// App components
@require 'post-it-note-mixin'
@require 'post-it-notes-list'
@require 'adder'