///////////////////
// Normalization
@require 'libs/normalize.css'

// forcing border box to everything
*, *:after, *:before
	box-sizing border-box


///////////////////
// App components
@require 'post-it-note-mixin'
@require 'post-it-notes-list'
@require 'adder'