$postItColor = #ffff88
$postItLighterColor = #ffffc6

/////
//// Post-It styles come originally from
///  http://mentormate.com/blog/css-postit-note/
//

postItNote()
	position relative

	padding 2.5em 1.5em 1em 1.5em

	background $postItColor /* Old browsers */
	background -moz-linear-gradient(-45deg, $postItColor 81%, $postItColor 82%, $postItColor 82%, $postItLighterColor 100%) /* FF3.6+ */
	background -webkit-gradient(linear, left top, right bottom, color-stop(81%,$postItColor), color-stop(82%,$postItColor), color-stop(82%,$postItColor), color-stop(100%,$postItLighterColor)) /* Chrome,Safari4+ */
	background -webkit-linear-gradient(-45deg, $postItColor 81%,$postItColor 82%,$postItColor 82%,$postItLighterColor 100%) /* Chrome10+,Safari5.1+ */
	background -o-linear-gradient(-45deg, $postItColor 81%,$postItColor 82%,$postItColor 82%,$postItLighterColor 100%) /* Opera 11.10+ */
	background -ms-linear-gradient(-45deg, $postItColor 81%,$postItColor 82%,$postItColor 82%,$postItLighterColor 100%) /* IE10+ */
	background linear-gradient(135deg, $postItColor 81%,$postItColor 82%,$postItColor 82%,$postItLighterColor 100%) /* W3C */

	border 1px solid #E8E8E8

	font-family "Comic Sans MS", cursive, sans-serif

	border-bottom-right-radius 37% 5%

	// shadow in the bottom right corner
	&:after
		content ""
		position absolute
		right -0px
		bottom 20px
		width 50%
		height 10%

		z-index -1
		background rgba(0, 0, 0, 0.2)
		box-shadow 2px 20px 5px rgba(0, 0, 0, 0.40)
		vendor('transform', matrix(-1, -0.1, 0, 1, 0, 0));

	&.ui-draggable-dragging

		box-shadow 5px 20px 20px -5px rgba(0,0,0,.4)

		&:after
			display none

	[contentEditable]
		cursor text
	.post-it-note-button
		cursor pointer
		vendor('user-select', 'none');